@model IEnumerable<SERGETStore.App.ViewModels.ProdutoViewModel>

@{
    ViewData["Title"] = "Lista de Produtos";
}

<h1>@ViewData["Title"]</h1>
<hr />

<p>
    <a class="btn btn-info" asp-action="Create">Novo Produto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <!--ESPAÇO RESERVADO PARA IMAGEM-->
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fornecedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <!--TODO: AGRUPAR ESTYLO INLINE PARA CLASSE CSS-->
                <img src="~/Imagens/@item.Imagem" alt="@item.Imagem" style="width:70px; height:100px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fornecedor.Nome)
            </td>
            <td>
                @item.Valor.ToString("C")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ativo)
            </td>
             <td>
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">
                    <span class="fa fa-search"></span>
                </a> |
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">
                    <span class="fa fa-pencil-alt"></span>
                </a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">
                    <span class="fa fa-trash"></span>
                </a>
            </td>
            @*<td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>*@
        </tr>
}
    </tbody>
</table>
