@model SERGETStore.App.ViewModels.FornecedorViewModel

@{
    ViewData["Title"] = "Editar Fornecedor" ;
}

<h1>@ViewData["Title"]</h1>


<hr />
<div class="row">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="col-md-4">

        <form asp-action="Edit">
            
            <input type="hidden" asp-for="Id" />
          
                <div class="row">
        <div class="form-group col-md-6">

            <label asp-for="Nome"></label>
            <input asp-for="Nome" class="form-control" />
            <span asp-validation-for="Nome" class="text-danger"></span>

            <label asp-for="Documento"></label>
            <input asp-for="Documento" class="form-control" />
            <span asp-validation-for="Documento" class="text-danger"></span>

        </div>

        <div class="form-group col-md-6">

            <label asp-for="TipoFornecedor"></label>
            <div>
                <input type="radio" value="1" asp-for="TipoFornecedor" checked="@(Model.TipoFornecedor == 1)" /> Pessoa Física
                <input type="radio" value="2" asp-for="TipoFornecedor" checked="@(Model.TipoFornecedor == 2)" /> Pessoa Jurídica
            </div>
            <div>
                &nbsp;
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ativo" /> @Html.DisplayNameFor(model => model.Ativo)
                </label>
            </div>
        </div>
    </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
            <partial name="_BtnVoltar" />
        </div>
        </form>
    </div>
</div>

<partial name="_DetalhesEndereco" />

<hr />
<h4>Produtos</h4>

<partial name="../Produtos/_ListaProdutos" model="@Model.Produtos" />


<div id="myModal" class="modal fade"  tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" >
        <div class="modal-content">
      @*<div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>*@
      <div class="modal-body">
        <div id ="myModalContent">
      </div>
      @*<div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>*@
    </div>
        
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    
  </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
    <script>
        $(document).ready(function () {
            SetModal();
        }) 
    </script>


}
